{% extends 'main/layout.html' %}
{% block title %}Видео{% endblock %}
{% block body%}
    <div class="features">
            <div class="col-md-12 col-sm-12">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="1000"
              height="800"
              data-setup="{}"
          >
              <source src="{% url 'stream' %}" type="video/mp4"/>
            <source src="{% url 'stream' 1 %}" type="video/webm"/>

          </video>
        </div>
                <a class="button" href="{% url 'home'%}">На главную</a>
    </div>


{%endblock%}>