{% extends 'main/layout.html' %}
{% block title %}Видео{% endblock %}
{% block body%}

    <div class="features">
        <h1>Видео</h1>
            <p></p>
                {% for i in video %}

                    <div class="alert alert-warning">
                            <h2>{{i.title}}</h2>
                            <h3>{{i.description}}</h3>
                        <a href="{% url 'stream' i.id %}" class="btn btn-warning">Далее</a>
                    </div>

                {% endfor %}
                <a class="button" href="{% url 'home'%}">На главную</a>
    </div>
{%endblock%}>