{% extends 'main/layout.html' %}
{% block title %}Видео{% endblock %}
{% block body%}

    <div class="features">
        <h1>Статьи</h1>
            <p>статьи</p>
                {% for i in stat %}

                    <div class="alert alert-warning">
                            <h2>{{i.title}}</h2>
                            <h3>{{i.anons}}</h3>
                        <a href="{% url 'stat_detail' i.id %}" class="btn btn-warning">Далее</a>
                    </div>

                {% endfor %}
                <a class="button" href="{% url 'home'%}">На главную</a>
    </div>
{%endblock%}>